.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects h1 {
    color: #3d405b;
    text-align: center;
    text-decoration: underline;
    font-size: 2.9rem;
    margin: 0;
}
.projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1%;
}
.thumbnail {
    background-color: #3d405b;
    width: 40vh;
    height: 18vh;
    margin: 0 0 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px 0;
    cursor: pointer;
}
.thumbnailName {
    color: #3d405b;
    text-align: center;
    font-size: 1rem;
}
.card__container {
     position: relative;
}


/* ----------------------------------------------
------------------------------------------------- */
.model__container {
    background-color: #3d405b;
    width: 40vh;
    height: 18vh;
    border-radius: 15px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    margin: 0;
}
.modelRightLeft {
    display: flex;
}
.modelRightLeft a {
    color: #3d405b;
    text-decoration: none;
}
.modelRight {
    background-color: #e07a5f;
    border-radius: 15px 0 0 0;
    border-right: 1px solid #3d405b;
}
.modelLeft {
    background-color: #f2cc8f;
    border-radius: 0 0 15px 0;
    border-left: 1px solid #3d405b;
}
.modelRight,
.modelLeft {
    width: 20vh;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelRight p,
.modelLeft p {
    margin: 0;
}
.modelRight:hover {
    background-color: #ce735a;
}
.modelLeft:hover {
    background-color: #dfbb82;
}

.noExit {
    display: none
}
.exit {
    width: 8vh;
    height: 6vh;
    background-color: #3d405b;
    bottom: 0;
    left: 40%;
    border-radius: 50% 50% 0 0;
    position: absolute;
    cursor: pointer;
    z-index: 20;
}
.exit:hover {
    background-color: #4e5374;
}
.rightX, 
.leftX {
    width: 3vh;
    height: .4vh;
    background-color: #f4f1de;
    left: 30%;
    top: 50%;
    position: absolute;
    border-radius: 40%;
}
.rightX {
    transform: rotate(50deg) 
}
.leftX {
    transform: rotate(-45deg) 
}



@media (max-width: 750px) {
    .projects {
        padding: 10% 0 10% 0;
    }
    .projects h1 {
        font-size: 1.75rem;
    }
    .projects__container {
        margin-top: 3%;
    }
    .thumbnail {
        width: 170px;
        height: 85px;
        margin: 4% 0 0 0;
    }
    .thumbnailName {
        font-size: .65rem;
    }

    /* ----------------------------------------------
    ------------------------------------------------- */
    .model__container {
        width: 170px;
        height: 85px;
        position: relative;
        margin: 0;
        margin: 4% 0 0 0;
    }
    .modelRight,
    .modelLeft {
        width: 85px;
        height: 85px;
    }
    .modelRight p,
    .modelLeft p {
        font-size: .65rem;
    }
    .exit {
        width: 37px;
        height: 28.33px;
    }
    .rightX, 
    .leftX {
        width: 15px;
        height: 2px;
    }
}