.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects h1 {
    color: #3d405b;
    text-align: center;
    text-decoration: underline;
    font-size: 2.9rem;
    margin: 0;
}
.thumbnail__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1%;
}
.thumbnail {
    background-color: #3d405b;
    width: 40vh;
    height: 15vh;
    margin: 8% 2% 2% 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px 0;
    color: #3d405b;
}
.thumbnailName {
    color: #3d405b;
    text-align: center;
    font-size: 1rem;
}

@media (max-width: 750px) {
    .projects h1 {
        font-size: 1.75rem;
        padding-top: 5%;
    }
    .thumbnail__container {
        margin-top: 3%;
    }
    .thumbnail {
        width: 150px;
        height: 65px;
        margin: 8% 0 0 0;
    }
    .thumbnailName {
        font-size: .65rem;
    }
}