.social {
    height: 100vh;
    background-color: #e07a5f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social h1 {
    color: #3d405b;
    font-family: 'Bungee Shade', cursive;
    font-size: 4.7rem;
    text-align: center;
    margin: 0;
}

@media (max-width: 750px) {
    .social h1 {
        font-size: 2rem;
    }
}