.social {
    height: 100vh;
    background-color: #e07a5f;
}
.social h1 {
    color: #3d405b;
    font-family: 'Bungee Shade', cursive;
    font-size: 4.5vw;
    text-align: center;
    transform: translate( 0, 160%);
}

@media (max-width: 750px) {
    .social h1 {
        font-size: 7.5vw;
        transform: translate( 0, 150%);
    }
}