@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Black+Ops+One&family=Bungee&family=Bungee+Shade&family=Creepster&family=Ewert&family=Fruktur&family=Gravitas+One&family=Monoton&family=Rubik:wght@900&family=Work+Sans:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Arima+Madurai&family=Farsan&family=Lalezar&family=Mogra&family=Rakkas&family=Rasa&family=Shrikhand&family=Suez+One&family=Yatra+One&display=swap');


body {
  margin: 0;
  font-family: 'Shrikhand', cursive;
  background-color: #f4f1de;
}